<p>NAVIGATION:</p>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="aeCreateTask">Create Task</a></td>
        <td><a href="createQuestions">Create Task Video and Responses</a></td>
        <td><a href="5.1-5.6">TPT Notes</a></td>
        <td><a href="replit">Replit Artifacts</a></td>
        <td><a href="explainLicense">License</a></td>
        <td><a href="dataStructuresProject">Data Structures Project</a></td>
        <td><a href="examCorrections">Practice Exam Corrections</a></td>
        <td><a href="prep">Prep Plan</a></td>
    </tr>
</table>
<hr>
